@using Domain.DTOs.Cars
@model CreateCarDto

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4" style="width: 450px; border-radius: 16px;">

        <h3 class="text-center mb-4">Создать машину</h3>

        <form method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label class="form-label">Модель</label>
                <input asp-for="Model" class="form-control" placeholder="Например: BMW X5" required/>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Цена за день</label>
                <input asp-for="PricePerDay" class="form-control" placeholder="Например: 100$" required/>
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsAvialable" class="form-check-input"/>
                <label class="form-check-label">Доступна</label>
            </div>

            <button type="submit" class="btn btn-success w-100">
                Создать
            </button>
        </form>

    </div>
</div>